%ul
  - if @trucks
    - binding.pry
    - @trucks.each do |t|
      %li.title
        = link_to t.name, show_location_food_trucks_path(truck: t), method: :put, remote: :true
      %li= t.address
      %li= t.facility_type
      - if @address_result.present?
        %li
          Distance: #{t.distance_to(@address_result).round(2)} mi
      %hr
    .pagination
      = will_paginate @trucks, inner_window: 1, outer_window: 1
  - elsif @truck
    %ul
      %li.title
        = @truck.name
      %li= @truck.address
      %li= @truck.facility_type
