
- if @trucks
  %ul
    - @trucks.each do |truck|
      %li.title
        = link_to truck.name, show_location_food_trucks_path(truck: truck), method: :put, remote: :true
        .distance
          - if @address_result.present?
            Distance: #{truck.distance_to(@address_result).round(2)} mi
      %li= truck.address
      %li= truck.facility_type
      - if truck.food_items.present?
        .food-items
          Food Items:
          %i.fa.fa-plus-circle.show-food-items
          .food-item-section
            %li= truck.food_items
      %hr
    .pagination
      = will_paginate @trucks, inner_window: 1, outer_window: 1
- elsif @truck
  %ul
    %li.title
      = @truck.name
    %li= @truck.address
    %li= @truck.facility_type
    - if @truck.food_items.present?
      .food-items
        Food Items:
        %i.fa.fa-plus-circle.show-food-items
        .food-item-section
          %li= @truck.food_items
